@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Roboto';
}

h1, p {
    text-align: center;
}

h1 {
    color: #cdd6f4;
    font-size: 50px;
}

p {
    font-size: 35px;
    margin: 5px;
    color: #a6adc8;
}
